// Colors
$primary: #eb9c00;
$primary-unactive: rgba(235, 157, 0, 0.1);
$secondary: #eb5a00;
$accent: #8b75eb;
$accentBG: rgba(139, 117, 235, 0.1);
$gradientBG: linear-gradient(
  180deg,
  rgba(234, 234, 234, 1) 0%,
  rgba(234, 234, 234, 0) 100%
);
$answer: #75c2eb;
$white: #f0f0f0;
$dark: #1d1d1d;

$font-color: #2c2c2c;
$font-unactive: rgba(44, 44, 44, 0.1);
