/* manrope-500 - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("~@/assets/fonts/manrope-v8-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    /* IE6-IE8 */ url("~@/assets/fonts/manrope-v8-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("~@/assets/fonts/manrope-v8-latin-500.woff2") format("woff2"),
    /* Modern Browsers */ url("~@/assets/fonts/manrope-v8-latin-500.woff")
      format("woff"),
    /* Safari, Android, iOS */ url("~@/assets/fonts/manrope-v8-latin-500.ttf")
      format("truetype"),
    /* Legacy iOS */ url("~@/assets/fonts/manrope-v8-latin-500.svg#Manrope")
      format("svg");
}
/* manrope-regular - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("~@/assets/fonts/manrope-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    /* IE6-IE8 */ url("~@/assets/fonts/manrope-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("~@/assets/fonts/manrope-v8-latin-regular.woff2") format("woff2"),
    /* Modern Browsers */ url("~@/assets/fonts/manrope-v8-latin-regular.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("~@/assets/fonts/manrope-v8-latin-regular.ttf") format("truetype"),
    /* Legacy iOS */ url("~@/assets/fonts/manrope-v8-latin-regular.svg#Manrope")
      format("svg");
}
/* manrope-800 - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("~@/assets/fonts/manrope-v8-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    /* IE6-IE8 */ url("~@/assets/fonts/manrope-v8-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("~@/assets/fonts/manrope-v8-latin-800.woff2") format("woff2"),
    /* Modern Browsers */ url("~@/assets/fonts/manrope-v8-latin-800.woff")
      format("woff"),
    /* Safari, Android, iOS */ url("~@/assets/fonts/manrope-v8-latin-800.ttf")
      format("truetype"),
    /* Legacy iOS */ url("~@/assets/fonts/manrope-v8-latin-800.svg#Manrope")
      format("svg");
}
